name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: uoou/build-apk-action@master  # SPECIALIZED FOR CORDOVA
        with:
          app-dir: '.'
          build-tool: 'cordova'